/* reset css */
body {
  margin: 0;
}
/* changes to the navbar menu */
/* general navbar settings*/
nav {
  background: #fbf7ed;
  padding: 0 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.super-menu {
  display: flex;
  align-items: center;
}
#right-header {
  margin-right: 60px;
}
/* Changes to the lists */
ul {
  margin: 0;
  list-style: none;
}
li > a::after {
  content: " ˅";
}
li > a:only-child::after {
  content: "";
}
nav a:hover {
  color: #000000;
}
nav a {
  text-decoration: none;
  color: #74787c;
  font-family: initial;
  font-weight: 400px;
}
nav li {
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 400px;
  color: #74787c;
}
/* changes to the Dropdown */
nav ul ul {
  display: none;
  position: absolute;
  background: white;
}
nav ul li:hover > ul {
  display: list-item;
}
nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}
/* Changes to the button */
.start-free-trial-btn {
  border-radius: 5px;
  background: #2e8b57;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}
.start-free-trial-btn:hover {
  background: black;
}
#btn-menu {
  width: 140px;
  margin-right: 40px;
}

/* Changes to the first section of main: free trial */
#intro-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: #fbf7ed;
}
#free-trial {
  padding: 80px;
  padding-bottom: 0;
  margin-right: 25px;
  margin-left: 10px;
}
.column {
  width: 50%;
  height: 600px;
}
h1 {
  color: #004c3f;
  font-size: 50px;
  font-weight: bolder;
  margin: 120px 30px 10px 10px;
}
.email {
  padding: 15px;
  margin: 20px 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
}
#free-trial-btn {
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.free-trial-parag {
  color: #42474c;
  text-align: left;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
video {
  width: 100%;
  height: 100%;
}
img#video-logo {
  height: 30px;
  width: 30px;
}

/* Changes to the second section of the main: online business section */
#online-business {
  background: #004c3f;
  height: 1100px;
  margin: 0;
  color: white;
  padding: 87px;
}
#online-business a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#top-online-business {
  height: 150px;
}
#top-online-business h2 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}
#top-online-business div {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

#top-online-business div a::after {
  content: "  ⇨";
  color: white;
}

#middle-online-business {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards {
  margin: 0;
  width: 245px;
}
.cards img {
  width: 100%;
}
.cards div {
  width: 100%;
  margin: 10px;
}
.main-link:hover {
  text-decoration: underline;
}

#buttom-online-business {
  /* height: 400px; */
  margin-top: 100px;
  /* margin-bottom: 70px; */
  /* width: 296px; */
}
#buttom-online-business h2 {
  text-align: left;
  font-weight: unset;
  font-size: 25pt;
}

#path-forward-columns {
  display: flex;
  justify-content: space-evenly;
  /* width: 296px; */
  /* flex-wrap: wrap; */
  margin-top: 50px;
  /* margin-bottom: 100px; */
  align-items: center;
  font-size: 14pt;
}
#path-forward-columns div {
  width: 100%;
}

/* Changes to the third section of main, sales platform */
#sale-platform {
  height: 1500px;
  background: white;
  color: black;
}
#sales-platform-first {
  text-align: center;
  margin: 100px;
}
#sales-platform-first h2 {
  font-size: 30pt;
  font-family: sans-serif;
  font-weight: 400;
}
#sales-platform-first p {
  font-size: 15pt;
  text-align: center;
  margin: 0;
  width: 40%;
  text-align: center;
  position: relative;
  left: 30%;
  color: #6b7177;
  line-height: 150%;
  font-weight: 400;
}
#sales-platform-second,
#sales-platform-third,
#sales-platform-forth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 200px;
  width: 1200px;
  /* position: relative; */
}
#sales-platform-second-left {
  /* width: 50%; */
  display: flex;
  /* padding: 50px; */
  position: relative;
  width: 100%;
}
#sales-platform-second-left img {
  height: 400px;
  width: 40%;
  padding: 10px;
}
#sales-img1 {
  position: absolute;
}
#sales-platform-second-right {
  /* padding: 50px; */
  width: 100%;
}
#sales-platform-third {
  display: flex;
  margin: 80px;
}

#sales-platform-third-right img {
  width: 200px;
  height: 200px;
}
#sales-platform-third-left {
  padding: 100px;
}
#sales-platform-third-left h3 {
  font-size: 20pt;
  font-weight: unset;
  text-align: center;
  margin-bottom: 40px;
}
#sales-platform-third-left p {
  text-align: center;
  font-size: 13pt;
}
#sales-platform a {
  text-decoration: none;
  color: green;
  cursor: pointer;
}
#sales-platform a::after {
  content: "  ⇨";
  color: green;
}

#sales-platform-forth-left img {
  width: 300px;
  height: 400px;
}
#sales-platform-fifth img {
  height: 700px;
  width: 700px;
}
