/* reset css */
body {
  margin: 0;
}
/* changes to the navbar menu */
/* general navbar settings*/
nav {
  background: #fbf7ed;
  padding: 0 30px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.super-menu {
  display: flex;
  align-items: center;
}
#right-header {
  margin-right: 60px;
}
/* Changes to the lists */
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
li > a::after {
  content: " ˅";
}
li > a:only-child::after {
  content: "";
}
nav a:hover {
  color: #000000;
}
nav a {
  text-decoration: none;
  color: #74787c;
  font-family: initial;
  font-weight: 400px;
}
nav li {
  padding: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 400px;
  color: #74787c;
}
/* changes to the Dropdown */
.v-menu {
  position: absolute;
  display: none;
  background-color: white;
}
.v-sub-menu {
  width: 215px;
  display: none;
  position: absolute;
  left: 170px;
  top: 30px;
  background-color: white;
  /* display: none; */
}
.super-menu li:hover .v-menu {
  display: block;
}
.v-menu li:hover .v-sub-menu {
  display: block;
}

/* Changes to the button */
.start-free-trial-btn {
  border-radius: 5px;
  background: #2e8b57;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}

.start-free-trial-btn:hover {
  background: black;
}
#btn-menu {
  width: 140px;
  margin-right: 40px;
}

/* Changes to the first section of main: free trial */
#intro-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: #fbf7ed;
}
#free-trial {
  padding: 80px;
  padding-bottom: 0;
  margin-right: 25px;
  margin-left: 10px;
}
.column {
  width: 50%;
  height: 600px;
}
h1 {
  color: #004c3f;
  font-size: 50px;
  font-weight: bolder;
  margin: 120px 30px 10px 10px;
}
.email {
  padding: 15px;
  margin: 20px 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 16px;
  font-family: sans-serif;
  text-align: left;
}
#free-trial-btn {
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.free-trial-parag {
  color: #42474c;
  text-align: left;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
video {
  width: 100%;
  height: 100%;
}
img#video-logo {
  height: 30px;
  width: 30px;
}

/* Changes to the second section of the main: online business section */
#online-business {
  background: #004c3f;
  height: 1100px;
  margin: 0;
  color: white;
  padding: 87px;
}
#online-business a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#top-online-business {
  height: 150px;
}
#top-online-business h2 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
}
#top-online-business div {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}

#top-online-business div a::after {
  content: "  ⇨";
  color: white;
}

#middle-online-business {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards {
  margin: 0;
  width: 245px;
}
.cards img {
  width: 100%;
}
.cards div {
  width: 100%;
  margin: 10px;
}
.main-link:hover {
  text-decoration: underline;
}

#buttom-online-business {
  /* height: 400px; */
  margin-top: 100px;
  /* margin-bottom: 70px; */
  /* width: 296px; */
}
#buttom-online-business h2 {
  text-align: left;
  font-weight: unset;
  font-size: 25pt;
}

#path-forward-columns {
  display: flex;
  justify-content: space-evenly;
  /* width: 296px; */
  /* flex-wrap: wrap; */
  margin-top: 50px;
  /* margin-bottom: 100px; */
  align-items: center;
  font-size: 14pt;
}
#path-forward-columns div {
  width: 100%;
}

/* Changes to the third section of main, sales platform */
#sale-platform {
  height: 1500px;
  background: white;
}
#sales-platform img {
  border-radius: 5%;
}
#sales-platform-first {
  text-align: center;
  padding: 80px 0;
  font-family: sans-serif;
}
#sales-platform-first h2 {
  margin: 0;
  font-size: 30pt;
}
#sales-platform-first p {
  font-size: 15pt;
  margin: 15px auto;
  width: 40%;
  color: #6b7177;
  line-height: 1.5;
}
.column-sales-platforms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 60px;
  width: 1400px;
  /* position: relative; */
}
#sales-platform-second p,
#sales-platform-third p,
#sales-platform-forth p {
  font-size: 15pt;
  text-align: left;
  color: #6b7177;
  line-height: 150%;
  font-weight: 400;
}
#sales-platform-second h3,
#sales-platform-third h3,
#sales-platform-forth h3 {
  font-size: 25pt;
  font-family: sans-serif;
  font-weight: 400;
}
#sales-platform-second-left {
  position: relative;
  width: 100%;
  margin-left: 50px;
}
#sales-platform-second-left img {
  height: 400px;
  width: 50%;
  padding: 10px;
}
#sales-img1 {
  position: absolute;
  top: 50px;
  right: 40px;
}
#sales-platform-second-right {
  width: 80%;
  padding: 150px;
}
#sales-platform-third-right {
  width: 100%;
  position: relative;
  right: -60px;
  top: 20px;
  display: flex;
  justify-content: center;
}
#sales-platform-third-right #img1 {
  width: 150px;
  height: 200px;
  position: absolute;
  left: 200px;
  top: -70px;
}
#sales-platform-third-right #img2 {
  width: 350px;
  height: 300px;
}
#sales-platform-third-right #img3 {
  width: 150px;
  height: 200px;
  position: absolute;
  right: 250px;
  bottom: -70px;
}
#sales-platform-third-left {
  width: 35%;
  padding: 60px;
  position: relative;
  right: -100px;
}
#sales-platform a,
#text-help a {
  text-decoration: none;
  color: green;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15pt;
  padding-top: 30px;
}
#sales-platform a,
#text-help a::after {
  content: "  ⇨";
  color: green;
}

#sales-platform-forth-left img {
  width: 600px;
  height: 400px;
  position: relative;
  left: 70px;
}
#sales-platform-forth-right {
  width: 30%;
  padding: 50px;
  position: relative;
  right: 150px;
}
#sales-platform-fifth {
  /* position: relative;
  left: 130px;
  width: 40%;
  line-height: 1.5;
  height: 500px; */
  font-family: sans-serif;
  padding: 40px 0;
  width: 40%;
  margin-left: 170px;
  line-height: 1.5;
}
#sales-platform-fifth h2 {
  font-size: 22pt;
}
#sales-platform-fifth p {
  font-size: 15pt;
  margin: 40px 0;
}
#sales-platform-sixth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}
#sales-platform-sixth img {
  height: 900px;
  width: 900px;
}
/* the forth section of main section */
#story {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: white; */
  /* width: 1200px;
  height: 700px; */
  /* width: 100%;
  height: 100%; */
}
#story-left {
  width: 50%;
  height: 100%;
}
#story-left img {
  width: 100%;
  height: 100%;
  padding: 20px;
}
#story-right {
  width: 50%;
  height: 100%;
  color: #ffffff;
  background: hsl(168, 100%, 9%);
  margin: 50px 30px;
  padding: 50px 30px;
  /* position: relative;
  top: 50%; */
}
#story-right h2 {
  font-family: sans-serif;
  font-size: 22pt;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 30px 100px;
}
#story-right img {
  width: 60px;
  height: 60px;
  /* text-align: center; */
  position: relative;
  left: 45%;
}
#story-right p {
  font-family: sans-serif;
  font-size: 17pt;
  font-weight: 500;
  text-align: center;
  padding: 30px 100px;
}
#story-right button {
  font-family: sans-serif;
  font-size: 15pt;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  background-color: #002e25;
  color: #ffffff;
  border-radius: 3%;
  border: 1px solid white;
  position: relative;
  left: 25%;
}
#story-right > button > img {
  width: 20px;
  height: 20px;
  /* text-align: left; */
  position: relative;
  left: 3px;
  top: 50%;
}
#story-right button:hover {
  cursor: pointer;
  background: white;
  color: black;
}
#icons {
  background: brown;
  color: black;
  height: 150px;
  text-align: center;
  font-size: 15pt;
}

/* the fifth section of the main section: help */
#help {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#pic-help img {
  width: 250px;
  height: 250px;
}
#text-help {
  background: #fbf7ed;
  width: 50%;
}
#text-help h2 {
  font-size: 25pt;
  font-family: sans-serif;
  text-align: left;
  line-height: 1.5;
  font-weight: bold;
  padding: 40px 150px 40px 40px;
}
#text-help p {
  color: #6b7177;
  font-size: 12pt;
  font-family: sans-serif;
}
#text-help h4 {
  font-family: sans-serif;
  font-weight: 450;
}
#text-help div {
  padding: 40px;
}
/* the sixth section of main: journey */
#journey div {
  text-align: center;
  padding: 80px 0;
  font-family: sans-serif;
}
#journey div h2 {
  margin: 0;
  color: black;
  font-size: 23pt;
}
#journey div p {
  margin: 20px auto;
  color: darkgray;
  font-size: 14pt;
  width: 40%;
  line-height: 1.5;
}
