@import url(header.css);
@media screen and (max-width: 900px) {
  #video-section {
    display: none;
  }
}
/* reset css */
body {
  margin: 0;
}

/* Changes to the first section of main: free trial */
#intro-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  background: #fbf7ed;
}
#free-trial {
  padding: 80px;
  padding-bottom: 0;
}
.column {
  padding: 80px 0;
}
h1 {
  color: #004c3f;
  font-size: 50px;
  font-weight: bolder;
  margin: 120px 30px 10px 10px;
}
.email {
  padding: 15px;
  margin: 20px 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 16px;
  font-family: sans-serif;
}
#free-trial-btn {
  width: 150px;
  height: 50px;
  font-size: 18px;
}

.free-trial-parag {
  color: #42474c;
  font-size: 15px;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

#commerce-woman {
  width: 100%;
  height: 100%;
}
img#video-logo {
  height: 30px;
  width: 30px;
}

/* Changes to the second section of the main: online business section */
#online-business {
  background: #004c3f;
  margin: 0;
  color: white;
  padding: 87px;
}
#online-business a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#top-online-business h2 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
  padding: 60px 0 10px 0;
}
#top-online-business div {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0;
  padding-bottom: 30px;
}
#top-online-business .fa-arrow-right {
  color: white;
  padding: 5px;
}
#top-online-business-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#middle-online-business {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards {
  margin: 0;
  width: 245px;
}
.cards img {
  width: 100%;
  cursor: pointer;
  transform: scale(1);
  box-shadow: none;
  transition: transform 2s, box-shadow 3s;
  border-radius: 2%;
}
.cards img:hover {
  transform: scale(1.3);
  box-shadow: 0px 0px 4px 3px #fbf7ed;
}
.cards div {
  width: 100%;
  margin: 10px;
}

.main-link:hover {
  text-decoration: underline;
}

#buttom-online-business h2 {
  font-weight: unset;
  font-size: 25pt;
  margin: 80px 0 50px 0;
  padding: 0;
}

#path-forward-columns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14pt;
}
#path-forward-columns div {
  width: 200px;
}
#path-forward-columns div p {
  width: 90%;
  line-height: 1.3;
}
#path-forward-columns div img {
  width: 50px;
  height: 50px;
}

/* Changes to the third section of main, sales platform */
#sales-platform img {
  border-radius: 5%;
}
.fa-arrow-right {
  margin: 5px;
  cursor: pointer;
  color: green;
  font-size: 15pt;
}
#sales-platform-first {
  text-align: center;
  padding: 80px 0;
  font-family: sans-serif;
}
#sales-platform-first h2 {
  margin: 0;
  font-size: 30pt;
}
#sales-platform-first p {
  font-size: 15pt;
  margin: 15px auto;
  width: 40%;
  color: #6b7177;
  line-height: 1.5;
}
.column-sales-platforms {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.sales-platform-text-column {
  padding: 80px;
  width: 40%;
}

.sales-platform-text-column p {
  font-size: 15pt;
  color: #6b7177;
  line-height: 150%;
}
.sales-platform-text-column h3 {
  font-size: 25pt;
  font-family: sans-serif;
}
#sales-platform-second {
  padding: 40px;
}

#sales-platform-second-left {
  position: relative;
  padding: 30px;
  width: 40%;
}
#sales-platform-second-left img {
  height: 400px;
  width: 300px;
  padding: 10px;
}
#sales-img1 {
  position: absolute;
  top: 50px;
  right: 100px;
}

#sales-platform-third {
  padding: 60px;
}

#sales-platform-third-right {
  position: relative;
  width: 40%;
}
#sales-platform-third-right #img1 {
  width: 150px;
  height: 200px;
  position: absolute;
  top: -85px;
  left: -70px;
}
#sales-platform-third-right #img2 {
  width: 350px;
  height: 300px;
}
#sales-platform-third-right #img3 {
  width: 150px;
  height: 200px;
  position: absolute;
  bottom: -70px;
  right: 95px;
}
#sales-platform-third-left {
  padding: 40px;
}
#sales-platform a,
#text-help a {
  text-decoration: none;
  color: green;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 13pt;
  padding-top: 30px;
}

#sales-platform-forth {
  padding: 50px;
}
#sales-platform-forth-left img {
  width: 500px;
  height: 400px;
}
#sales-platform-forth-right {
  padding: 50px;
}
#sales-platform-fifth {
  font-family: sans-serif;
  padding: 40px 0;
  width: 40%;
  margin-left: 170px;
  line-height: 1.5;
}
#sales-platform-fifth h2 {
  font-size: 22pt;
}
#sales-platform-fifth p {
  font-size: 15pt;
  margin: 40px 0;
}
#sales-platform-sixth {
  text-align: center;
  padding: 60px;
}
#sales-platform-sixth img {
  height: 500px;
  width: 500px;
  transform: rotateY(0);
  transition: transform 20s;
}
#sales-platform-sixth img:hover {
  transform: rotateY(360deg);
}
/* the forth section of main section */
#story {
  display: flex;
  justify-content: center;
  align-items: center;
}

#story-left img {
  width: 500px;
  height: 100%;
  padding: 10px;
}
#story-right {
  background: hsl(169, 54%, 27%);
  width: 45%;
  padding: 70px 30px;
  text-align: center;
  color: white;
}
#story-right h2 {
  font-family: sans-serif;
  font-size: 22pt;
  font-weight: 500;
  line-height: 1.5;
  width: 50%;
  margin: 40px auto;
}

#story-right img {
  width: 60px;
  height: 60px;
}
#story-right p {
  font-family: sans-serif;
  font-size: 17pt;
  font-weight: 500;
  margin: 40px 0;
}
#story-right button {
  font-family: sans-serif;
  font-size: 15pt;
  font-weight: 300;
  text-align: center;
  padding: 10px;
  background: #002e25;
  color: #ffffff;
  border-radius: 3%;
  border: 1px solid white;
  margin: 40px 0;
  transition: background 2s, color 2.5s;
}
#story-right > button > img {
  width: 20px;
  height: 20px;
}
#story-right button:hover {
  cursor: pointer;
  background: white;
  color: black;
}
#icons {
  background: brown;
  color: black;
  height: 150px;
  text-align: center;
  font-size: 15pt;
}

/* the fifth section of the main section: help */
#help {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#pic-help img {
  width: 650px;
  height: 550px;
}
#text-help {
  padding: 70px 20px 60px 60px;
  background: #fbf7ed;
  width: 48%;
}

#text-help h2 {
  font-size: 25pt;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  width: 60%;
  margin: 0%;
}
#mini-columns {
  display: flex;
  flex-wrap: wrap;
}
#mini-columns div {
  width: 20em;
  padding: 0 10px 0 0;
}
#mini-columns p {
  color: #6b7177;
  font-size: 12pt;
  font-family: sans-serif;
  margin: 0%;
  margin-top: 20px;
}
#mini-columns h4 {
  font-family: sans-serif;
  font-weight: 450;
  margin: 0%;
  margin-top: 20px;
}
#mini-columns div {
  margin-top: 20px;
}
/* the sixth section of main: journey */
#journey {
  text-align: center;
  padding: 80px 0;
  font-family: sans-serif;
}
#journey h2 {
  margin: 0;
  color: black;
  font-size: 23pt;
}
#journey p {
  margin: 20px auto;
  color: darkgray;
  font-size: 14pt;
  width: 40%;
  line-height: 1.5;
}
#back-to-top {
  text-align: right;
  padding: 0 50px 20px 0;
  font-size: 15pt;
  cursor: pointer;
}
#back-to-top a {
  color: green;
  font-weight: bold;
  text-decoration: none;
}
#back-to-top .fas {
  color: green;
}
/* footer */
footer {
  background: #002e25;
  color: white;
  padding: 10px 25px 30px 25px;
  font-family: sans-serif;
}
footer a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#top-footer {
  border-bottom: 1px solid rgba(210, 213, 217, 0.1);
  /* padding-bottom: 10px; */
}

#top-footer li {
  display: inline;
  /* padding: 30px; */
  font-weight: bold;
  line-height: 70px;
}
#top-footer a {
  padding: 20px;
  border-bottom: none;
  transition: border-bottom 2s;
}

#top-footer a:hover {
  border-bottom: 1px solid white;
}
#middle-footer {
  display: flex;
  justify-content: space-evenly;
}
#middle-footer li {
  font-size: 12pt;
  padding: 10px;
}
.footer-h {
  font-weight: bold;
  color: white;
}
#middle-footer a {
  color: #b6babf;
  cursor: pointer;
  transition: color 1.5s;
}
#middle-footer a:hover {
  color: white;
}

#online-store {
  display: flex;
  justify-content: space-between;
}
#middle-footer div {
  padding: 20px;
}
#buttom-footer {
  display: flex;
  justify-content: space-between;
}
#buttom-footer .fab,
#buttom-footer .fas,
.main-link .fas {
  background: white;
  color: black;
  font-size: 13pt;
  border-radius: 50%;
  padding: 5px;
  margin: 7px;
  cursor: pointer;
}
.r-b-footer a {
  padding: 5px;
  margin: 10px;
  color: #b6babf;
  transition: color 1.5s;
}
.r-b-footer a:hover {
  color: white;
}
#buttom-footer .fa-sort-down {
  background: none;
  color: white;
  font-size: 22pt;
}
